@{
}
@model Books

<div class="card-outline-primary m-1 p-1">


    <div class="bg-light p-1">


        <h3><i>@Model.Title</i></h3>
        <h5>@Model.Author</h5>
        <h6>Price: $@Model.Price</h6>
    </div>
    <ul style="list-style-type:none" >
        <li>Publisher: @Model.Publisher</li>
        <li>ISBN: @Model.Isbn</li>
        <li>Classification: @Model.Classification</li>
        <li>Category: @Model.Category</li>
        <li>Page Count: @Model.PageCount</li>
    </ul>

    <form method="post" asp-page="/Cart">
        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">Add to Cart</button>
        </span>
    </form>
    <br />
</div>
