@{
}
@model Books

<div class="card-outline-primary m-1 p-1">


    <div class="bg-light p-1">


        <h3><i>@Model.Title</i></h3>
        <h5>@Model.Author</h5>
        <h6>Price: $@Model.Price</h6>
        @*<span class="badge bg-info" style="float:right">
            <li>Price: @Model.Price </li>
        </span>*@
    </div>
    <ul style="list-style-type:none" >
        <li>Publisher: @Model.Publisher</li>
        <li>ISBN: @Model.Isbn</li>
        <li>Classification: @Model.Classification</li>
        <li>Category: @Model.Category</li>
        <li>Page Count: @Model.PageCount</li>
    </ul>

    <form method="post" asp-page="/Cart">
        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">Add to Cart</button>
        </span>
    </form>
    <br />
</div>

<!--<section>
    <div class="container px-1 px-lg-1 mt-1">
        <div class="row gx-1 gx-lg-1 row-cols-1 row-cols-md-1 row-cols-xl-1">
            <div class="col mb-1">
                <div class="card h-20">-->
<!-- Product image-->
<!--<img width="200px;" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!-- Product details-->
<!--<div class="card-body p-4">
    <div class="text-center">-->
<!-- Product name-->
<!--<h5 class="fw-bolder"><i>@Model.Title</i>, @Model.Author</h5>-->
<!-- Product price-->
<!--$@Model.Price<br />
        Publisher: @Model.Publisher<br />
        ISBN: @Model.Isbn<br />
        Classification: @Model.Classification <br />
        Category: @Model.Category<br />
        Page Count: @Model.PageCount

    </div>
</div>-->
<!-- Product actions-->
<!--<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
    </div>
</div>-->
