@page "/admin/books"
@page "/admin"
@inherits OwningComponentBase<IBookStoreRepository>

<h3 style="color: white">Books</h3>
<table class="table table-sm table-striped table-bordered --bs-table-bg white">
    <thead>
        <tr>
            <th style="color: white" >Book ID</th>
            <th style="color: white" >Title</th>
            <th style="color: white" >Author</th>
        </tr>
    </thead>
    <tbody>
        @if (BookData?.Count() > 0)
        {
            @foreach (BookStore1.Models.Books b in BookData)
            {
                <tr>
                    <td style="color: white" >@b.BookId</td>
                    <td style="color: white" >@b.Title</td>
                    <td style="color: white" >@b.Author</td>

                    <td>
                        <NavLink class="btn btn-info btn-sm" href="@GetDetailsUrl(b.BookId)">Details</NavLink>
                    </td>

                    <td>
                        <NavLink class="btn btn-warning btn-sm" href="@GetEditUrl(b.BookId)">Edit</NavLink>
                    </td>

                    <td>
                        <button class="btn btn-danger btn-sm" @onclick="@(x => RemoveBook(b))">Delete</button>
                    </td>


                </tr>
            }

        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No Books</td>
            </tr>
        }
    </tbody>
</table>

<NavLink class="btn btn-primary" href="/admin/books/create">Add Book</NavLink>


@code {

    public IBookStoreRepository repo => Service;

    public IEnumerable<BookStore1.Models.Books> BookData { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        BookData = await repo.Books.ToListAsync();
    }

    public string GetDetailsUrl(int id) => $"/admin/books/details/{id}";

    public string GetEditUrl(int id) => $"/admin/books/edit/{id}";

    public async Task RemoveBook (BookStore1.Models.Books b)
    {
        repo.DeleteBook(b);
        await UpdateData();
    }
}
